.Signup {
    display: grid;
    align-items: center;
    height: 100vh;
    background-color: white;
}


.Signup_inside {
    background-color: black;
   width: 80%;
   justify-self: center;
   height: 400px;
   max-width: 500px;
   
}

.Signup_inside_login {
   height: 350px;

}

.Signup_inside form 
{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


.Signup_inside form input
{
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}

.Signup_inside form button
{
width: 75px;
/* justify-items: center; */
margin-left: auto;
margin-right: auto;
padding: 5px;
margin-top: 10px;
border-radius: 5px;
background-color: aqua;


}

.Signup_inside form button:hover
{
background-color: rgb(250, 104, 104);
}

.Signup_inside p{
    color: white;
    margin-top: 10px;
}

.Signup_Loginbtn {
    width: 75px;
    padding: 7px;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

.Signup_Loginbtn:hover {
    background-color: rgb(54, 138, 235);
    

}

.signup_withGoogle img {
    width: 50px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.Signup_inside small{
    color: white;

}

.signup_withGoogle {
    display: flex;
    /* justify-u: center; */
    /* place-content:; */
    justify-content: center;

}

.Signup_passworddiv {
    position: relative;
}

.Signup_visiblity_icon {
    position: absolute;
    top: 20px;
    right: 25px;
    color: black !important;
    cursor: pointer;
}

.Signup button {
    border: 2px solid white;
}