/* .Messages { */
    /* position: relative; */
    /* background-color: black; */
    /* height: 80%; */

/* } */



/* .Messages {
    position: relative;
} */

.Message_footer {
    width: 70%;
    background-color: rgb(194, 194, 233);
    /* background-color: red; */
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    height: 60px;
}

/* 
.Messages_Inside{
    display: flex;
    flex-direction: column;
    align-items: stretch;

} */

/* .Messages_messages {
    background-color: red;
} */


@media (min-width:950px){
.Message_footer {
    width: 75%;


}
}

.Message_footer > input {
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 10px;
}

.Message_send_Avatar {
    cursor: pointer;
    background: linear-gradient(135deg, rgb(0, 188, 242), rgb(0, 120, 212));
}

.Message_send_Avatar:hover {
    background: linear-gradient(135deg, rgb(0, 120, 212), rgb(0, 120, 212));

    }

   .micpart_oned {
    color: green;
    cursor: pointer;
   }

   .micpart_offed {
    color: red;
    cursor: pointer;

   }

   .Message_footer_usemicbtn {
    background-color: green;
    color: white;
    border: 2px solid white;
   }

   .Message_footer_usemicbtn:hover {
   
    background-color: #c60000;
    border: 2px solid  blue;

}

.micspeechclear_btn {
    background-color: #c60000;
    color: white;
    border: 2px solid white;
}

.micspeechclear_btn:hover {

    background-color: green;
    


}

.micpart_oned_listening {
    background-color: white;
    animation: miclistenig 2s  ease-in-out infinite;
    border-radius: 50%;
}

@keyframes miclistenig {
 0% {
    background-color: white;
    border-radius: 50%;

    
 }
 25% {
    background-color: red;
    border-radius: 40%;

 }
 50% {
    background-color: blue;
    border-radius: 30%;

 }
 75% {
    background-color: blueviolet;
    border-radius: 20%;

 }
 100% {
    background-color: rgb(5, 217, 129);
    border-radius: 10%;

 }

}

/* .Messages_messages{
    position: relative;
}  */