/* .MessagesDisplay_Inside {


height: 40px;
} */


.MessagesDisplay_message {
    background-color: lightblue;
    /* background-color: rgb(196, 192, 192); */

    /* color: white; */
    margin-right: auto;
    width: 45%;
    /* width: fit-content; */
min-height: 50px;
border-radius: 15px;
margin-top: 5px;


}

.MessagesDisplay_message_own {
    background-color: rgb(56, 181, 223);
    margin-left: auto ;
    width: 45% ;
    /* width: fit-content; */

 min-height: 50px;
    /* align-self: center; */
border-radius: 15px;
margin-top: 5px;
}

.Messagesdisplay_infotop {
    width: 150px;
    /* border: 1px solid salmon; */
    font-size: small;
    padding: 3px;
}

.Messagesdisplay_infobottom {
    width: 150px;
    margin-left: auto;
    /* border: 1px solid salmon; */
    font-size: small;
    padding: 3px;



}